.main-container{ 
    display: flex; 
    flex-direction: column;

    justify-content: center;
    align-items: center;
    height: 100vh; 
}

.message {
    font-size: 3em;
    min-height: 1.3em;
}

.timer{
    font-size: 6em;
}